.App {
  text-align: left;
  background-color: rgb(250, 240, 249);
  color: rgb(7, 93, 133);
}

h1 {
  text-transform: uppercase;
}

.name-title {
  text-transform: uppercase;
  word-wrap: false;
}

.social-icon {
  border-radius: 100%;
  text-align: center;
  margin-right: 1rem;
}

.navbar-brand {
  display: flex;
  margin: auto auto 0;
  padding: 0.5rem;
}

.navbar-brand .img-profile {
  max-width: 10rem;
  max-height: 10rem;
  border: 0.5rem solid rgba(255, 255, 255, 0.2);
}

.sidenav {
  height: 100%;
  width: 100px;
  z-index: 1;
  background-color: rgb(7, 93, 133);
}

.nav {
  background-color: rgb(7, 93, 133);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (max-width: 992px) {
  .App {
    margin-left: 0px;
  }

  .bio-name {
    width: 400px;
    height: 100 px;
  }

  .bio-blurb {
    text-align: center;
    display: flex;
    font-size: 5;
    text-transform: normal;
  }

  #sideNav {
    text-align: left;
    position: fixed;
    text-transform: uppercase;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 0px;
    height: 150vh;
  }

}

@media (min-width: 992px) {
  .App {
    margin-left: 250px;
  }

  #sideNav {
    text-align: left;
    position: fixed;
    text-transform: uppercase;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color:rgb(250, 240, 249);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(7, 93, 133);
}

.App-link {
  color: #61dafb;
}

.App-hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.noa {
  color: rgb(202, 20, 20);
}
