.App {
  text-align: left;
  background-color: rgb(250, 240, 249);
  color: rgb(7, 93, 133);
  margin-left: 300px;
}

.name-title {
  text-transform: uppercase;
  word-wrap: false;
}

.social-icons a {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #495057;
  color: #fff !important;
  border-radius: 100%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 3.5rem;
  margin-right: 1rem;
}

.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(7, 93, 133);
  overflow-x: hidden;
  padding-top: 20px;
  flex-direction: column;
  text-align: left;
  display: flex;
  text-transform: uppercase;
  font-size: 10;
}

.nav {
  background-color: rgb(7, 93, 133);
}

.navbar-text .nav-item .nav-link {
  font-weight: 800;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.navbar-collapse {
  display: flex;
  align-items: flex-start;
  flex-grow: 0;
  width: 100%;
  margin-bottom: auto;
}

.navbar-collapse .navbar-text {
  flex-direction: column;
  width: 100%;
}

.navbar-collapse .navbar-text .nav-item {
  display: block;
}

.navbar-collapse .navbar-text .nav-item .nav-link {
  display: block;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color:rgb(250, 240, 249);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(7, 93, 133);
}

.App-link {
  color: #61dafb;
}

.App-hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
